<section id="project" class="container-projects d-flex flex-column">
  <div class="projects-title mb-4">
    <h2>Meus Projetos</h2>
  </div>

  <div class="projects-box d-flex flex-wrap justify-content-center gap-4 pb-5">
    <div class="card" style="width: 16rem">
      <img
        src="/assets/cartorioTabelionato.png"
        class="card-img-top"
        alt="imagem-cartorio"
      />
      <div class="card-body">
        <h5 class="card-title">2º Tabelionato de notas</h5>
        <p class="card-text">
          Site estático para facilitar a interação com o cliente.
        </p>
        <a href="#" class="btn btn-dark">Visitar</a>
      </div>
    </div>

    <div class="card" style="width: 16rem">
      <img
        src="/assets/kosplay.jpeg"
        class="card-img-top"
        alt="pagina-home-kosplay"
      />
      <div class="card-body">
        <h5 class="card-title">Kosplay</h5>
        <p class="card-text">Site para aluguel de de roupas de cosplay.</p>
        <a href="#" class="btn btn-dark">EM BREVE</a>
      </div>
    </div>

    <!-- Adicione mais cards aqui -->
  </div>
</section>
