<section id="tools">
  <h2 class="text-center mb-4">Ferramentas</h2>
  <div class="container" style="max-width: 1200px">
    <!-- Definindo um max-width aqui -->
    <div class="row justify-content-center">
      <!-- Card 1 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/csharp.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="csharp"
          />
          <div class="card-body">
            <h5 class="card-title">Csharp</h5>
            <p class="card-text">Linguagem de programação.</p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/net-framework.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="Net Framework"
          />
          <div class="card-body">
            <h5 class="card-title">.NET</h5>
            <p class="card-text">Plataforma de desenvolvimento.</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/sql-server.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="SqlServer"
          />
          <div class="card-body">
            <h5 class="card-title">Sql server</h5>
            <p class="card-text">Gerenciador de banco de dados relacional.</p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/angularjs.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="Angular"
          />
          <div class="card-body">
            <h5 class="card-title">Angular</h5>
            <p class="card-text">Framework front end, javascript.</p>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/azure.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="Azure"
          />
          <div class="card-body">
            <h5 class="card-title">Azure</h5>
            <p class="card-text">Plataforma de computação em nuvem.</p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/git.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="Git"
          />
          <div class="card-body">
            <h5 class="card-title">Git</h5>
            <p class="card-text">Sistema de controle de versão distribuído.</p>
          </div>
        </div>
      </div>

      <!-- Card 7 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/github.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="GitHub"
          />
          <div class="card-body">
            <h5 class="card-title">GitHub</h5>
            <p class="card-text">
              Plataforma para um controle de versões entre desenvolvedores.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 8 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/xunit.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="SqlServer"
          />
          <div class="card-body">
            <h5 class="card-title">Xunit</h5>
            <p class="card-text">
              Framework de testes unitários voltado para o net framework.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 9 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/service-bus.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="SqlServer"
          />
          <div class="card-body">
            <h5 class="card-title">Service Bus</h5>
            <p class="card-text">Um Barramento de Mensagens (filas, topics).</p>
          </div>
        </div>
      </div>

      <!-- Card 10 -->
      <div class="col-6 col-md-3 col-lg-2 mb-4 me-2">
        <div class="card text-center h-100">
          <img
            src="/assets/azure-storage.svg"
            class="card-img-top w-50 mx-auto mt-3"
            alt="SqlServer"
          />
          <div class="card-body">
            <h5 class="card-title">Azure Storage</h5>
            <p class="card-text">
              Serviço de armazenamento de arquivo em nuvem.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
