<nav
  id="menu"
  class="menu d-flex p-2 text-light bg-dark justify-content-around align-items-center"
>
  <div class="menu-left">
    <img
      src="assets/logo.png"
      alt="Logo do site"
      class="img-fluid"
      width="65px"
    />
  </div>
  <div class="menu-right mt-3">
    <ul
      class="menu-list list-unstyled d-flex justify-content-around align-items-center fw-bold"
    >
      <li class="mx-2 pointer-link"><a href="#menu">Início</a></li>
      <li class="mx-2 pointer-link"><a href="#description">Sobre</a></li>
      <li class="mx-2 pointer-link"><a href="#project">Projetos</a></li>
      <li class="mx-2 pointer-link"><a href="#contato">Contato</a></li>
    </ul>
  </div>
</nav>
